
.guide-c {
  fill: none;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.8);
}

.guide-mask {
  fill: rgba(255, 140, 0, 0.5);
  fill-rule: evenodd;
}

.guide-outline {
  fill: none;
  stroke-width: 2px;
  stroke: rgba(0, 225, 20, 0.7)
}
