
.guide-svg {
  position: absolute;
  overflow: visible;
}

.guide-c {
  fill: none;
  stroke-width: 1px;
  stroke: rgba(0, 225, 20, 0.7);
}

.guide-bbox {
  fill: none;
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.8);
}

.guide-socket {
  fill: none;
  stroke-width: 1px;
  stroke: rgba(254, 0, 64, 0.7);
}
