@import "compass";

html,
body { border: solid maroon; }
html { background-color: burlywood; }
body { background-color: lightgray; }

html,
body { /* All zero clear */
  margin: 0;
  border-width: 0;
  padding: 0;
}

#static,
#absolute {
  background-color: aquamarine;
}

#static {
  width: 100px;
  height: 50px;
}

#absolute {
  width: 101px;
  height: 51px;
  position: absolute;
  left: 128px;
  top: 128px;
}

iframe {
  width: 600px;
  height: 400px;
  position: absolute;
  border: 2px solid #009;
  padding: 4px;
  background-color: #eee;
}

#iframe1 {
  left: 8px;
  top: 216px;
}

#iframe2 {
  left: 32px;
  top: 664px;
}

#spacer {
  margin: 10px;
  width: 1600px;
  height: 1600px;
  @include background-image(linear-gradient(
    #a48aa4 0,
    #dabeda 100%
    ));
}
