
$view-wh: 320px;

.view {
  white-space: nowrap;
}

.ll-view,
.mask-view {
  display: inline-block;
  margin: 10px;
  width: $view-wh;
  height: $view-wh;
  background-color: #eae7c5;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../grid.svg");
  }
}

.border {
  stroke: red;
  stroke-width: 1px;
  fill: none;
}

.anchor { position: absolute; }
.anchor-0 { background-color: rgba(127, 205, 255, 0.8); }
.anchor-1 { background-color: rgba(255, 127, 205, 0.8); }

.mask-svg {
  position: absolute;
  overflow: visible;
}

select {
  position: absolute;
  right: 0;
  bottom: 100%;
}
