/* line 2, cases.scss */
.anchor {
  width: 80px;
  height: 80px;
  position: absolute;
}

/* line 8, cases.scss */
#anchor-0 {
  left: 10px;
  top: 10px;
  background-color: rgba(127, 205, 255, 0.8);
}

/* line 14, cases.scss */
#anchor-1 {
  left: 640px;
  top: 160px;
  background-color: rgba(255, 127, 205, 0.8);
}

/* line 20, cases.scss */
#anchor-c0 {
  left: 5px;
  top: 5px;
  background-color: rgba(51, 138, 54, 0.8);
}

/* line 26, cases.scss */
#anchor-c1 {
  left: 300px;
  top: 30px;
  background-color: rgba(149, 119, 40, 0.8);
}

/* line 32, cases.scss */
#view {
  position: relative;
  height: 260px;
}

/* line 37, cases.scss */
#iframe1 {
  position: absolute;
  left: 160px;
  top: 5px;
  width: 400px;
  height: 200px;
}

/* line 45, cases.scss */
#list {
  margin: 10px 0;
  height: 480px;
  border: 1px solid #ccc;
  overflow: auto;
}
/* line 51, cases.scss */
#list input[type="radio"] {
  display: none;
}
/* line 54, cases.scss */
#list input[type="radio"] + label {
  display: block;
  margin: 5px;
}
/* line 58, cases.scss */
#list input[type="radio"] + label > pre {
  border: 1px solid #ccc;
  margin: 0;
  padding: 10px;
  font-size: 1em;
  font-family: Monaco, "Lucida Console", monospace;
}
/* line 67, cases.scss */
#list input[type="radio"]:checked + label > pre {
  border-color: #3172d7;
  background-color: #eaeff7;
}

/* line 74, cases.scss */
.comment {
  color: #48bf48;
}
