
.anchor {
  width: 80px;
  height: 80px;
  position: absolute;
}

#anchor-0 {
  left: 10px;
  top: 10px;
  background-color: rgba(127, 205, 255, 0.8);
}

#anchor-1 {
  left: 640px;
  top: 160px;
  background-color: rgba(255, 127, 205, 0.8);
}

#anchor-c0 {
  left: 5px;
  top: 5px;
  background-color: rgba(51, 138, 54, 0.8);
}

#anchor-c1 {
  left: 300px;
  top: 30px;
  background-color: rgba(149, 119, 40, 0.8);
}

#view {
  position: relative;
  height: 260px;
}

#iframe1 {
  position: absolute;
  left: 160px;
  top: 5px;
  width: 400px;
  height: 200px;
}

#list {
  margin: 10px 0;
  height: 480px;
  border: 1px solid #ccc;
  overflow: auto;

  input[type="radio"] {
    display: none;

    + label {
      display: block;
      margin: 5px;

      & > pre {
        border: 1px solid #ccc;
        margin: 0;
        padding: 10px;
        font-size: 1em;
        font-family: Monaco, "Lucida Console", monospace;
      }
    }

    &:checked + label > pre {
      border-color: #3172d7;
      background-color: #eaeff7;
    }
  }
}

.comment {
  color: #48bf48;
}
