
#view {
  position: relative;
  width: 800px;
  height: 800px;
  background-color: #ddd;
}

.anchor {
  width: 80px;
  height: 80px;
  position: absolute;
}

#anchor-0 {
  left: 360px;
  top: 360px;
  background-color: rgba(127, 205, 255, 0.8);
}

#anchor-1 {
  left: 0;
  top: 0;
  background-color: rgba(255, 127, 205, 0.8);
}
