
$app_id: leader-line;

.#{$app_id} {
  position: absolute;
  overflow: visible;
}

##{$app_id}-defs {
  width: 0;
  height: 0;
  position: absolute;
}

.#{$app_id}-line-path {
  fill: none;
}

.#{$app_id}-line-mask-bg-rect {
  fill: white;
}

.#{$app_id}-line-mask-anchor,
.#{$app_id}-line-mask-marker-shape {
  fill: black;
}

.#{$app_id}-line-mask-plug,
.#{$app_id}-plugs-face {
  // Show only markers.
  stroke: rgba(0, 0, 0, 0); /* `transparent` might not be supported */
}

.#{$app_id}-line-mask-outline {
  stroke: white;
}

.#{$app_id}-line-outline-mask-ishape {
  stroke: black;
}

.#{$app_id}-plug-mask-outline {
  fill: white;
  stroke: black;
}

.#{$app_id}-plug-outline-mask-ishape {
  fill: black;
  stroke: white;
}
