
$app_id: leader-line;

.#{$app_id} {
  position: absolute;
  overflow: visible;
}

##{$app_id}-defs {
  width: 0;
  height: 0;
}

.#{$app_id}-line-shape {
  fill: none;
}

.#{$app_id}-plug {
  stroke: rgba(0, 0, 0, 0); /* `transparent` might not be supported */
}

// .#{$app_id}-mask {
//   clip-rule: evenodd;
// }

.#{$app_id}-mask-bg {
  fill: white;
}

.#{$app_id}-mask-anchor,
.#{$app_id}-mask-marker-shape {
  fill: black;
}

.#{$app_id}-mask-line {
  stroke: rgba(0, 0, 0, 0); /* `transparent` might not be supported */
}
